body {
 margin: 0;
 padding: 0; 
 font-size: 38px;
 font-family: "PT Sans Narrow", "Arial", sans-serif;
 font-weight: 700;
 color: #ffffff;
 background: #044800 url("../img/1.jpg") no-repeat center 0px;
 text-transform: uppercase;
}

.inner-page {
	background: #fd5502 url("../img/2.jpg") no-repeat center 0px;
}

.bg-f {
  width: 24px; 
	height: 48px;
  background: url('css_sprites.png') -10px -10px;
}

.bg-f2 {
  width: 24px; 
	height: 48px;
  background: url('css_sprites.png') -54px -10px;
}

.bg-mail {
   width: 48px; 
	height: 36px;
	background: url('css_sprites.png') -98px -10px;
}

.bg-vk {
  width: 48px; 
	height: 28px;
  background: url('css_sprites.png') -166px -10px;
}

img {
	max-width: 100%;
	height: auto;
}

.container {
	position: relative;
	width: 1300px;
	height: 830px;
	padding: 0;
	margin: 0 auto;
}

.container__link {
	text-decoration: none;
}

.container__round {
	position: absolute;
	top: 390px;
	left: 27px;
	width: 360px;
	height: 360px;
	background-color: rgba(9, 170, 1, .4);
	border-radius: 50%;
	font-size: 38px;
	line-height: 360px;
	color: #000000;
	text-align: center;
}

.container__round:hover {
	background-color: #09aa01;
}

.container__round1 {
	position: absolute;
	top: 290px;
	left: 440px;
	width: 322px;
	height: 322px;
	background-color: #ffffff;
	line-height: 322px;
  text-align: center;
  font-size: 38px;
	color: #000000;
	border-radius: 50%;
}

.training {
	position: absolute;
	top: 190px;
	left: 30px;
	line-height: 30px;
  font-size: 20px;
	color: #044800;
}

.games {
	position: absolute;
	bottom: 190px;
	right: 30px;
	line-height: 30px;
  font-size: 20px;
	color: #fd5502;
}

.inner-page .container__round1 {
	position: absolute;
	top: 446px;
	left: 893px;
}

.container__main {
	display: none;
	background-color: #044800;
	color: #ffffff;	
	border-radius: 50%;
}

.inner-page .container__round1:hover .container__logo{
	display: none;
}

.inner-page .container__round1:hover .container__main {
	display: block;
	color: #ffffff;
}

.inner-page .container__round1:hover .container__main {
	display: block;
	color: #ffffff;
}

.container__round2 {
	position: absolute;
	top: 444px;
	right: 100px;
	width: 346px;
	height: 346px;
	background-color: #000000;
	line-height: 346px;
  text-align: center;
  font-size: 38px;
	color: #ffffff;
	border-radius: 50%;
}

.container__round3 {
	position: absolute;
	top: 103px;
	left: 674px;
	width: 272px;
	height: 272px;
	background-color: #000000;
	line-height: 272px;
  text-align: center;
  font-size: 38px;
	border-radius: 50%;
	color: #ffffff;
}

.container__round3:hover {
	background-color: rgba(253, 85, 2, .8);
	color: #000000;
} 

.container__round4 {
	position: absolute;
	top: 102px;
	left: 459px;
	width: 192px;
	height: 192px;
	background-color: #fd5502;
	line-height: 192px;
  text-align: center;
  font-size: 38px;
	color: #ffffff;
	border-radius: 50%;
}

.container__round4:hover {
	background-color: rgba(9, 170, 1, .7);
	color: #000000;
}

.container__round5 {
	position: absolute;
	top: 304px;
	left: 301px;
	width: 150px;
	height: 150px;
	background-color: #000000;
	border-radius: 50%;
	font-size: 0;
}

.container__round5::before {
	content: "";
	position: absolute;
  top: 51px;
  left: 63px;
  background: transparent url("../img/css_sprites.png") no-repeat;
  width: 24px;
  height: 48px;
  background-position: -10px -10px;
}

.container__round5:hover {
	background-color: #ffffff;
}

.container__round5:hover::before {
	background: transparent url("../img/css_sprites.png") no-repeat;
  background-position: -54px -10px;
}

.inner-page .container__round5 {
	position: absolute;
	top: 544px;
	left: 230px;
}

.container__round6 {
	position: absolute;
	top: 38px;
	left: 188px;
	width: 272px;
	height: 272px;
	background-color: rgba(174, 174, 174, .4);
	line-height: 272px;
  text-align: center;
  font-size: 38px;
	color: #ffffff;
	border-radius: 50%;
}

.container__round6:hover {
	background-color: rgba(174, 174, 174, 1);
	color: #000000;
}

.inner-page .container__round6 {
	position: absolute;
	top: 32px;
	left: 939px;
}

.container__round7 {
	position: absolute;
	top: 145px;
  right: 110px;
	width: 202px;
	height: 202px;
	background-color: rgba(253, 85, 2, .8);
	line-height: 202px;
  text-align: center;
  font-size: 38px;
	color: #ffffff;
	border-radius: 50%;
}

.container__round7:hover {
	background-color: rgba(253, 85, 2, 1);
	color: #000000;
}

.container__round8 {
	position: absolute;
	top: 1px;
	left: 600px;
	width: 150px;
	height: 150px;
	background-color: #ffffff;
	border-radius: 50%;
	line-height: 150px;
  text-align: center;
  font-size: 24px;
	color: #ffffff;
}

.container__round8::before {
	content: "";
	position: absolute;
  top: 61px;
  left: 51px;
  background: transparent url("../img/css_sprites.png") no-repeat;
  width: 48px;
  height: 28px;
  background-position: -166px -10px;
}

.container__round8:hover {
	background-color: #000000;
}

.container__round8:hover::before {
	display: none;
}

.inner-page .container__round8 {
	position: absolute;
	top: 0px;
	left: 810px;
}

.container__round9 {
	position: absolute;
	top: 301px;
	right: 255px;
	width: 150px;
	height: 150px;
	background-color: #ffffff;
	border-radius: 50%;
	line-height: 150px;
  text-align: center;
  font-size: 18px;
	color: #ffffff;
}

.container__round9::before {
	content: "";
	position: absolute;
  top: 57px;
  left: 51px;
  background: transparent url("../img/css_sprites.png") no-repeat;
  width: 48px;
  height: 36px;
  background-position: -98px -10px;
}

.container__round9:hover {
	background-color: #000000;
}

.container__round9:hover::before {
	display: none;
}

.inner-page .container__round9 {
	position: absolute;
	top: 298px;
	left: 950px;
}

.container__round10 {
	position: absolute;
	top: 560px;
	right: 443px;
	width: 200px;
	height: 200px;
	border-radius: 50%;
}

.container__round10:hover {
	opacity: .7;
}

.container__round11 {
	position: absolute;
	top: 202px;
	left: 25px;
	width: 200px;
	height: 200px;
	border-radius: 50%;
}

.container__round11:hover {
	opacity: .7;
}

.container__round12 {
	position: absolute;
	top: 575px;
	left: 367px;
	width: 200px;
	height: 200px;
	border-radius: 50%;
}

.container__round12:hover {
	opacity: .7;
}

.container__round13 {
	position: absolute;
	top: 11px;
	right: 236px;
	width: 170px;
	height: 170px;
	border-radius: 50%;
}

.container__round13:hover {
	opacity: .7;
}

.container__round14 {
	position: absolute;
	top: 54px;
	left: 300px;
	width: 650px;
	height: 650px;
	border-radius: 50%;
	background-color: #ffffff;
	text-align: center;
}

.container__round15 {
	position: absolute;
	top: 16px;
	left: 37px;
	width: 311px;
	height: 311px;
	border-radius: 50%;
}

.about-me__title {
	display: inline-block;
	padding: 0;
	font-size: 38px;
	line-height: 56px;
	color: #000000;
	border-bottom: 3px solid #fd5502;
	vertical-align: top;
}

.about-me__text {
	margin: 0;
	padding: 0 40px;
	font-size: 20px;
	line-height: 28px;
	color: #000000;
	text-transform: none;
	text-align: center;
}

.about-me__text--1 {
	padding: 0 85px;
}













